<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <title>RNAAnalyzer</title>

    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href= "{% static  "style.css" %}" >

</head>
<body>
<div class="container">
    <h2> Welcome to the main page of RNA Analyzer Web Services !!</h2>

    <span class="block">
        <a href="rnamodeler"> Click Here to visit ENTRNA.</a>
        <p> ...predicts minimum free energy structures and base paid probabilities from singel RNA and DNA sequences</p>
    </span>
    &emsp;
    <span class="block">
        <a href="qlrna"> Click here to visit QLRNA</a>
        <p>... predicts minimum free energy structures and base pair probabilities from single RNAs using from single
            RNA using a guiding potential based on SHAPE reactivity probing data</p>
    </span>

</div>


</body>
</html>