<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <title>QL RNA</title>

    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href= "{% static  "style.css" %}" >



</head>
<script>
    submitForms = function() {

        var emailId = document.getElementById('inputEmail').value;
        var batchMode = document.getElementById('batchMode').value;
        var structureText = document.getElementById('structureText').value;
        var structureFile = document.getElementById('structureFile').value;

        if(emailId.length === 0) {
            emailId = "dhrumil2312@gmail.com";
        }

        if(batchMode.length !== 0){
            alert('Submitting bat');
            document.getElementById('batchModeForm_email').value = emailId;
            document.forms["batchModeForm"].submit();
            return;
        }

        if(structureText.length ===0 && structureFile.length === 0 ){
            document.getElementById("error").innerHTML = "Please Enter the Structure";
            document.getElementById("error").style.color = "red";
            document.getElementById("error").style.display = "block";
            return;
        }
        else if (structureText.length !==0){
            document.getElementById('emailIdText').value = emailId;
            document.forms["textForm"].submit();
            return;
        }
        else{
            document.getElementById('emailIdFile').value = emailId;
            document.forms["fileForm"].submit();
            return;
        }

    }

</script>

<style>
    div.form {

        padding: 10px;
        border: 5px solid gray;
        margin: 0;
    }
</style>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/rnamainpage">RNA Web Services</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/rnamodeler">ENTRNA </a></li>
        <li class="active"><a href="/qlrna"> QLRNA <span class="sr-only">(current)</span> </a></li>


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id = "main" class="container">
    <h1 align="center"> QLRNA </h1>
    <div class="form">
        <form action="" method = "POST" name="textForm">
            {% csrf_token %}
            <label> Enter the structure here: </label>
            <input id="structureText" type="text" name="structure"  align="center" class="form-control">
            <input id="emailIdText" type="hidden" name="emailId" placeholder="Enter your email id here." class="form-control">
            <div id="error"></div>
        </form>
        <div id="errorSequence"></div>
    </div>
    <strong> OR </strong><br>

    <div class="form">
        <form action="" method = "POST"  name="fileForm" enctype="multipart/form-data">
            {% csrf_token %}

            <label> Upload a Structure File here. </label>
            <input id="structureFile" name="structureFile" placeholder="Select a file" type="file" accept=".txt,.doc" class="form-control"><br>
            <input id="emailIdFile" type="hidden" name="emailId" class="form-control">


        </form>

    </div>
    <br>
    <br>

    <div class="form" >
        <h4 > Batch Mode </h4>
        <form action="" method = "POST"  name="batchModeForm" enctype="multipart/form-data">
        {% csrf_token %}
            <label> Upload a single file. Please enter all the structure in one line, separated by comma. No new line characters. </label>
            <input id="batchMode" name="structureBatchMode" placeholder="Select a file" type="file" accept=".txt,.doc" class="form-control"><br>
            <input id="batchModeForm_email" type="hidden" name="emailId" class="form-control">
        </form>

    </div>

    <br> <p><strong> To receive the results in email please enter the email id below.</strong></p><br>
    <div class="form">
        <label>Email Id: </label>
        <input id="inputEmail" type="email" name="emailId" placeholder="Enter your email id here." class="form-control"> <br>
    </div>

    <input name="submit" type="submit" value=" Submit " align="center" class="btn btn-default" onclick="submitForms()"><br><br><br>

</div>

<nav class="navbar navbar-default navbar-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="rnamodeler"> RNA Modeler </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/contact_us"> Contact Us</a></li>
        </ul>
    </div>
</nav>

</body>

</html>