<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <title>RNAModeler</title>

        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href= "{% static  "style.css" %}" >


</head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

    /* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>

{% csrf_token %}
<script>
    function parse_cookies() {
        var cookies = {};

        if(document.cookie && document.cookie !== ''){
            document.cookie.split(';').forEach(function(c){
                var m = c.trim().match(/(\w+)=(.*)/);
                if(m !== undefined){
                    cookies[m[1]] = decodeURIComponent(m[2]);
                }
            });
        }
        return cookies;
    }

    submitForms = function () {

        //var data = new FormData();
        //var cookies = parse_cookies();
        //var csrftoken = cookies['csrftoken'];
        //var request = new XMLHttpRequest();
        //request.open('POST',"/rnamodeler/", true);
        //request.setRequestHeader('X-CSRFToken' , csrftoken);
        {#data.append("sequence",seq);#}
        {#data.append("structure" , struct);#}
        {#data.append("emailId","dhrumil2312@gmail.com");#}
        {#request.send(data);#}
        {##}

        document.getElementById("structure_form").value = document.getElementById("structure").innerText ;
        document.getElementById("sequence_form").value= document.getElementById("sequence").innerText;
        document.getElementById("emailId_form").value = "dhrumil2312@gmail.com" ;

        document.forms["textform"].submit();



        return ;
    }
</script>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/rnamainpage">RNA Web Services</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/rnamodeler">ENTRNA </a></li>
        <li class="active"><a href="/qlrna"> QLRNA <span class="sr-only">(current)</span> </a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id = "main" class="container" align="left">
    <div class="row">
        <div id="result" class = "col-sm-6" >
            <h1> QLRNA</h1>
            <h2> RNA Inverse folding Results </h2>
            <table align="left" class="table table-hover">
                <tbody>
                    {% for structure, sequence  in allContent %}
                        <tr>
                            <td> The targeted secondary structure entered is :</td>
                            <td id="structure"> <strong> {{ structure }} </strong></td>
                        </tr>
                        <tr>
                            <td> The sequence generated by QLRNA is :</td>
                            <td id = "sequence"> <strong>{{ sequence }} </strong> </td>
                        </tr>
                        <td style="text-align: center"> <input name="submit" type="submit" value=" Click here to get Foldability results. " align="center" class="btn btn-default" onclick="submitForms()"> </td>

<form action="/rnamodeler/" method = "POST"  name="textform">
                        {% csrf_token %}
                        <input id="sequence_form" name="sequence"  type="hidden"  class="form-control">
                        <input id="structure_form" name="structure" type="hidden" class="form-control">
                        <input id="emailId_form" name="emailId"  type="hidden"  class="form-control">

</form>
                    {% endfor %}
                </tbody>
            </table>
            <div id="invalidinput" style="display: none;">
                {% for sequence,struture in invalid %}
                <p> Invalid Sequence and Structure pair</p>
                <p> Sequence: {{ sequence }}</p>
                <p> Structure : {{ struture }}</p>
                {% endfor %}
            </div>
        </div>

    </div>
</div>


<nav class="navbar navbar-default navbar-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/rnamodeler">RNA Modeler </a>
    </div>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/contact_us"> Contact Us</a></li>
      </ul>
  </div>
</nav>

</body>


</html>